body{
    margin-left: 0px;
}



a { 
    color: blue;
    text-decoration: none;
}

a:hover {
    color: white;
}

#navbar {
    margin-left: 0px;
}


mark {
    color: yellowgreen;
}

.navBar {

    position: fixed; 
    top: 0;         
    left: 0;         

    text-align: center;
    word-spacing: 5.0em;


    Color: black;
    background-color: rgb(180, 230, 255);
    width: 100%;

    display: block;
    padding: 10px;
    font-size: 3em;
}

.footer {
    margin-left: 0px;
    text-align: center;
    word-spacing: 5.0em;


    Color: black;
    background-color: rgb(180, 230, 255);
    width: 100%;

    display: block;
    padding: 10px;
    font-size: 3em;
}

/*

:root {
    --rose-hulman-red: #800000;
}



body{
    color: black;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

p {
    text-align: center
}

button {
    font-size: 24px;
    color: white;

    padding: 18px 24px 18px;

    display: inline-block;
    background-color: var(--rose-hulman-red);
    border-style: none;
}


#blue-btn{
    background-color: blue;
    margin-left: 2px;
    margin-right: 2px;
}
#green-btn{
    background-color: green;
    margin-left: 2px;
    margin-right: 2px;
}
#red-btn{
    background-color: red;
    margin-left: 2px;
    margin-right: 2px;
}
#purple-btn{
    background-color: purple;
    margin-left: 2px;
    margin-right: 2px;
}

#redBar {   
    color: white;
    background-color: var(--rose-hulman-red);
    display: block;
    padding: 10px;
}

#favorite_number {
    font-size: 60px;
    line-height: 250%;
}

.colorBox {
    
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 700%;

    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: var(--rose-hulman-red);

    margin-top: 40px;
    margin-bottom: 15px;
}


.blueBox {
    background-color: blue;
}
.greenBox{
    background-color: green;
}
.redBox{
    background-color: red;
}
.purpleBox{
    background-color: purple;
}
    */