:root {
    --linkBlue: #000284;
    --hoverColor: #ffff00;
    --headerColor: #9ad5ff;

}

body{

}


a { 
    color: var(--linkBlue);
    text-decoration: none;
    border-style: none;
}

a:hover {
    color: var(--hoverColor);
    border-style: dashed;
}

/*
#navbar {
    margin-left: 0px;
}
    */

img {
    align-items: center;
}

/* Heading Help - https://stackoverflow.com/questions/48535332/how-to-make-it-so-my-form-stays-under-my-header-unless-i-need-to-scroll */

.navBar {

    position: fixed; 
    top: 0;         
    left: 0;         

    text-align: center;
    word-spacing: 5.0em;

    Color: var(--linkBlue);
    background-color: var(--headerColor);
    width: 100%;
    height: 15%;

    margin-left: 0px;
    display: block;
    font-size: 3em;
    z-index: 1; 
}

.spacer {
    height: 15%;
}

.footer {
    margin-left: 0px;
    text-align: center;
    word-spacing: 5.0em;

    Color: var(--linkBlue);

    background-color: var(--headerColor);
    width: 100%;
    height: 15%;

    margin-left: 0px;
    display: block;
    padding: 10px;
    font-size: 3em;
}

/* 
.sticky-banner {
    position: fixed;
    top: 0; 
    width: 100%; 
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
}


body{
    color: black;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

p {
    text-align: center
}

button {
    font-size: 24px;
    color: white;

    padding: 18px 24px 18px;

    display: inline-block;
    background-color: var(--rose-hulman-red);
    border-style: none;
}


#blue-btn{
    background-color: blue;
    margin-left: 2px;
    margin-right: 2px;
}
#green-btn{
    background-color: green;
    margin-left: 2px;
    margin-right: 2px;
}
#red-btn{
    background-color: red;
    margin-left: 2px;
    margin-right: 2px;
}
#purple-btn{
    background-color: purple;
    margin-left: 2px;
    margin-right: 2px;
}

#redBar {   
    color: white;
    background-color: var(--rose-hulman-red);
    display: block;
    padding: 10px;
}

#favorite_number {
    font-size: 60px;
    line-height: 250%;
}

.colorBox {
    
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 700%;

    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: var(--rose-hulman-red);

    margin-top: 40px;
    margin-bottom: 15px;
}


.blueBox {
    background-color: blue;
}
.greenBox{
    background-color: green;
}
.redBox{
    background-color: red;
}
.purpleBox{
    background-color: purple;
}
    */